/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
#cuerpo{
	background-color: white;
}

#principal {
	background-color: white;
	width: auto;
	height: auto;
	clip: rect(auto,auto,auto,auto);
	margin-right: auto;
	margin-left: auto;
	padding-right: auto;
	padding-left: auto;
	font-size: 14px;
}
#principal #pie {
	height: 130px;
	width: auto;
	/*float: left;*/
	background-color: #21618C;
	
}

#principal #cabecera {
	background-color: #21618C;
	height: 100px;
	width: auto;
	/*background-image: url(../imagenes/banner2.png);*/
	
}

#principal #cabecera #logo{ /*Agregar logo a cabecera*/
	padding-left: 20px;
	padding-top: 10px;
	float: left;
	
}

.menuH li a{  /* Agregar estilo texto menu*/
	font-size: 20px;
	font-weight: bold;
	color: #FFF;	
	text-decoration: none;
	
}

ul.menuH{ /*Menu horizontal*/
	margin: 0;
	padding-top: 40px;
	
}

ul.menuH li{ /*Menu horizontal*/
	display: block;
	float: left;
	padding: 0 90px;

}

#login{
 	width: 50;
	height: 90;
	margin-right: 10px;
	margin-top: -15px;
	float: right; 
	text-align: center;
}


#principal #contenido {
	background-color: white;
	height: auto;
	width: 1366px;
	/*float: left;*/
	clip: rect(auto,auto,auto,auto);
	margin-right: auto;
	margin-left: auto;
	padding-right: auto;
	padding-left: auto;
	text-align: center;
}

#principal #cabecera p{
	color: white;
	font-size: 14;
	
}

#principal #contenido #menu {
	float: left;
	height: 70px;
	width: 1366px;
	background-color: #2E86C1;
	font-size: 16px;
}

#principal #contenido div {
	font-size: 36px;
	color: #000;
	font-weight: bold;
}
#principal #contenido {
	font-size: 16px;
	text-align: left;
}
#principal #contenido table {
	font-size: 18px;
	text-align: center;
	color: #000;
}
#principal #contenido p {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
#principal #contenido h1 strong {
	text-align: center;
}
.centro {
	text-align: center;
}
.brillo:hover{
	background-color: #0F9;	
	
}
#principal #contenido #form1 {
	float: none;
}
.session {
	text-align: justify;
}
#principal #contenido div #form1 .session {
	text-align: left;
}

/*Pagina de catalogo*/

#principal #contenido .producto {
	background-color: #06F;
	font-size: 16px;
	color: #FFF;
	width: 350px;
	float: center;
	margin: 10px;
	padding: 10px;
}

#principal #contenido .galeria{
	display: flex;
	justify-content: space-around;
	width: 100%;
	flex-wrap: wrap;
	
}

#principal #contenido #h1catalogo{
	text-align: center;
}

#principal #contenido #catalogoTitulo{
	text-align: center;
}

#principal #contenido div .producto h4 {
	color: #FFF;
	font-size: 16px;
}
#principal #contenido #menu div div p a {
	text-align: right;
}
#principal #contenido #menu div div a {
	font-size: 14px;
}
#principal #contenido div .producto {
	font-size: 16px;
}


/*Paginas ayuda*/

#principal #contenido #cuerpoayuda{
	display: flex;	
	text-align: center;

}

#principal #contenido #cuerpoayuda #tituloAyuda{
	padding-bottom: 20px;
}

#principal #contenido #cuerpoayuda #formDiv{
	padding-top: 20px;	
	padding-bottom: 55px;
	margin-left: auto;
	margin-right: auto;
}

/*Paginas ayuda exito*/



.pie1 {
	/*background-color: #06F;*/
	font-size: 16px;
	color: #FFF;
	width: 390px;
	float: center;
	margin: 10px;
	padding: 10px;
}

.pieorden{
	display: flex;
	justify-content: space-around;
}







